##############################################################################
#
# C Code Snippets
#
##############################################################################

#=============================================================================
# Structural Comments
#=============================================================================

# Comment Blocks
snippet c0
	/*----------------------------------------------------------------------------
	${1}
	----------------------------------------------------------------------------*/
snippet c1
	    /*------------------------------------------------------------------------
	    ${1}
	    ------------------------------------------------------------------------*/
snippet c2
	        /*--------------------------------------------------------------------
	        ${1}
	        --------------------------------------------------------------------*/
snippet c3
	            /*----------------------------------------------------------------
	            ${1}
	            ----------------------------------------------------------------*/
snippet c4
	                /*------------------------------------------------------------
	                ${1}
	                ------------------------------------------------------------*/
snippet c5
	                    /*--------------------------------------------------------
	                    ${1}
	                    --------------------------------------------------------*/
snippet c6
	                        /*----------------------------------------------------
	                        ${1}
	                        ----------------------------------------------------*/
# end of snippet

# Separator Bars
snippet b0
	/*==========================================================================*/
snippet b1
	    /*======================================================================*/
snippet b2
	        /*==================================================================*/
# end of snippet


#=============================================================================
# Function and Class Templates
#=============================================================================

# Basic function definition
snippet fun
	/*==========================================================================*/
	int ${1:name}(                               /* ${2:description}                      */
	    int                 param           /* ${3:param}                            */
	) {                                     /* ${4:returns}                          */
	
	    /*------------------------------------------------------------------------
	    Local Variables
	    ------------------------------------------------------------------------*/
	    int                 local           /* a local variable                 */
	
	    ${5}
	
	    /*------------------------------------------------------------------------
	    Return
	    ------------------------------------------------------------------------*/
	    return 0;
	}
	
# end of snippet

# Doxygen-style function
snippet doxyfun
	/**
	 *  ${1:name}
	 *
	 *  ${2:description}
	 *
	 *  @param param Parameter description
	 *  @return      Return description
	 */
	void function(
	    void
	) {
	
	    ${3}
	
	}
	
# end of snippet


#=============================================================================
# Formatting and Style Templates
#=============================================================================

# Columns reminder
snippet col
	+---+-------------------+---------------+-------------------------------+---+
	|1  |5                  |25             |41                             |73 |77
	/*****************************************************************************
	File Header
	*****************************************************************************/
	/*============================================================================
	Section Heading
	============================================================================*/
	    type                name;           /* variable comment                 */
	/*------------------------------------------------------------------------
	Block Comment
	------------------------------------------------------------------------*/
	    /*--------------------------------------------------------------------
	    Block Comment
	    --------------------------------------------------------------------*/
	        /*----------------------------------------------------------------
	        Block Comment
	        ----------------------------------------------------------------*/
	|1  |5                  |25             |41                             |73 |77
	+---+-------------------+---------------+-------------------------------+---+
# end of snippet

# Variable declaration
snippet var
	    ${1:type}                ${2:name};           /* ${3:comment}                          */
# end of snippet


#=============================================================================
# Literals and Common Implementations
#=============================================================================

# main()
snippet main
	/*==========================================================================*/
	int main(                               /* program entry point              */
	    int                 argc,           /* number of arguments              */
	    const char**        argv            /* list of arguments                */
	) {                                     /* return program exist status      */
	
	    /*------------------------------------------------------------------------
	    ${2}
	    ------------------------------------------------------------------------*/
	    ${1}
	
	    /*------------------------------------------------------------------------
	    Return to shell.
	    ------------------------------------------------------------------------*/
	    return 0;
	}
	
# end of snippet

# WinMain()
snippet winmain
	/*==========================================================================*/
	int WINAPI WinMain(                     /* program entry point              */
	    HINSTANCE           hInstance,      /* handle to program instance       */
	    HINSTANCE           hPrevInst,      /* handle to previous instance      */
	    LPTSTR              lpCmdLine,      /* pointer to command-line string   */
	    int                 nShowCmd        /* initial window display setting   */
	) {                                     /* return program exit status       */
	
	    /*------------------------------------------------------------------------
	    Display a message.
	    ------------------------------------------------------------------------*/
	    MessageBoxW(
	        NULL,
	        L"Hello World!",
	        L"Greetings",
	        ( MB_OK | MB_ICONINFORMATION )
	    );
	
	    /*------------------------------------------------------------------------
	    Return to shell.
	    ------------------------------------------------------------------------*/
	    return 0;
	}
	
# end of snippet


#=============================================================================
# Miscellaneous Automation
#=============================================================================

# #include "..."
snippet inc
	#include "${1:`Filename("$1.h")`}"
# end of snippet


#=============================================================================
# Source Code Templates
#=============================================================================

# Source code template
snippet source
	/*****************************************************************************
	
	${1:description}
	
	*****************************************************************************/
	
	/*============================================================================
	Includes
	============================================================================*/
	
	/*============================================================================
	Macros
	============================================================================*/
	
	/*============================================================================
	Types and Structures
	============================================================================*/
	
	/*============================================================================
	Memory Constants
	============================================================================*/
	
	/*============================================================================
	Module Variables
	============================================================================*/
	
	/*============================================================================
	Module Prototypes
	============================================================================*/
	
	/*============================================================================
	Implementation
	============================================================================*/
	
	${2}
	
	
# end of snippet

# Header
snippet header
	/*****************************************************************************
	
	${1:description}
	
	*****************************************************************************/
	
	#ifndef _${2:`toupper(Filename())`}_H
	#define _$2_H
	
	/*============================================================================
	Includes
	============================================================================*/
	
	/*============================================================================
	Macros
	============================================================================*/
	
	/*============================================================================
	Types and Structures
	============================================================================*/
	
	/*============================================================================
	Memory Constants
	============================================================================*/
	
	/*============================================================================
	Exported Variables
	============================================================================*/
	
	/*============================================================================
	Interface Prototypes
	============================================================================*/
	
	${3}
	
	#endif  /* _$2_H */
	
	
# end of snippet

