# C++ Code Snippets

# Function Skeletons
snippet meth
	/============================================================================/
	void ${1:class}::${2:name} (
	    void
	) {
	
	    ${3}
	
	}   /* $1::$2 */
	

# Source
snippet source
	/*****************************************************************************
	
	${1:`Filename()`}.cpp
	
	${2:description}
	
	*****************************************************************************/
	
	/*----------------------------------------------------------------------------
	Includes
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Macros
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Types and Structures
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Memory Constants
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Module Variables
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Module Prototypes
	----------------------------------------------------------------------------*/
	
	${3}
	

# Header
snippet header
	/*****************************************************************************
	
	${1:`Filename()`}.hpp
	
	${2:description}
	
	*****************************************************************************/
	
	#ifndef _${3:`toupper(Filename())`}_HPP
	#define _$3_HPP
	
	/*----------------------------------------------------------------------------
	Includes
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Macros
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Types and Structures
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Memory Constants
	----------------------------------------------------------------------------*/
	
	/*----------------------------------------------------------------------------
	Interface Prototypes
	----------------------------------------------------------------------------*/
	
	${4}
	
	#endif  /* _$3_HPP */
	
