##############################################################################
#
# C++ Code Snippets
#
##############################################################################

#=============================================================================
# Structural Comments
#=============================================================================

# Comment Blocks
snippet c0
	/*------------------------------------------------------------------------
	${1}
	------------------------------------------------------------------------*/
snippet c1
	    /*--------------------------------------------------------------------
	    ${1}
	    --------------------------------------------------------------------*/
snippet c2
	        /*----------------------------------------------------------------
	        ${1}
	        ----------------------------------------------------------------*/
snippet c3
	            /*------------------------------------------------------------
	            ${1}
	            ------------------------------------------------------------*/
snippet c4
	                /*--------------------------------------------------------
	                ${1}
	                --------------------------------------------------------*/
snippet c5
	                    /*----------------------------------------------------
	                    ${1}
	                    ----------------------------------------------------*/
snippet c6
	                        /*------------------------------------------------
	                        ${1}
	                        ------------------------------------------------*/
# end of snippet

# Separator Bars
snippet b0
	/*==========================================================================*/
snippet b1
	    /*======================================================================*/
snippet b2
	        /*==================================================================*/
# end of snippet

#=============================================================================
# Function and Class Templates
#=============================================================================

# Basic function definition
snippet fun
	/*==========================================================================*/
	int ${1:name}(                               /* ${2:description}                      */
	    int                 param           /* ${3:param}                            */
	) {                                     /* ${4:returns}                          */
	
	    /*--------------------------------------------------------------------
	    Local Variables
	    --------------------------------------------------------------------*/
	    int                 local           /* a local variable                 */
	
	    ${5}
	
	    /*--------------------------------------------------------------------
	    Return
	    --------------------------------------------------------------------*/
	    return 0;
	}
	
# end of snippet

# Generic method definition
snippet meth
	/*==========================================================================*/
	void ${1:cname}::${2:mname} (                     /* ${3:description}                      */
	    void
	) {
	
	    ${4}
	
	}
	
# end of snippet

# Constructor and destructor method definitions
snippet cons
	/*==========================================================================*/
	${1:Name}::$1 (                            /* $1 constructor                 */
	    int                 parameter       /* description                      */
	) :
	    ${2:Base}              ( parameter ),    /* parent initialization            */
	    member            ( 42        )     /* member initialization            */
	{
	
	    ${3}
	
	}
	
	
	/*==========================================================================*/
	$1::~$1 ( void ) {                /* $1 destructor                 */
	
	    ${4}
	
	}
	
# end of snippet

# Class declaration
snippet class
	/*============================================================================
	${3:description}
	============================================================================*/
	class ${1:Name} : public ${2:Base} {
	
	/*------------------------------------------------------------------------
	Public Properties
	------------------------------------------------------------------------*/
	public:
	
	
	/*------------------------------------------------------------------------
	Protected Properties
	------------------------------------------------------------------------*/
	protected:
	
	    int                 value;          /* description                      */
	
	
	/*------------------------------------------------------------------------
	Private Properties
	------------------------------------------------------------------------*/
	private:
	
	    int                 secret;         /* description                      */
	
	
	/*------------------------------------------------------------------------
	Public Methods
	------------------------------------------------------------------------*/
	public:
	
	explicit $1(                          /* $1 constructor                 */
	    int                 parameter       /* description                      */
	);
	
	~$1( void );                          /* $1 destructor                  */
	
	
	/*------------------------------------------------------------------------
	Protected Methods
	------------------------------------------------------------------------*/
	protected:
	
	
	/*------------------------------------------------------------------------
	Private Methods
	------------------------------------------------------------------------*/
	private:
	
	
	};
	
# end of snippet


#=============================================================================
# Formatting and Style Templates
#=============================================================================

# Columns reminder
snippet col
	+---+-------------------+---------------+-------------------------------+---+
	|1  |4                  |25             |41                             |73 |77
	/*****************************************************************************
	File Header
	*****************************************************************************/
	/*============================================================================
	Section Heading
	============================================================================*/
	    type                name;           /* variable comment                 */
	/*------------------------------------------------------------------------
	Block Comment
	------------------------------------------------------------------------*/
	    /*--------------------------------------------------------------------
	    Block Comment
	    --------------------------------------------------------------------*/
	        /*----------------------------------------------------------------
	        Block Comment
	        ----------------------------------------------------------------*/
	|1  |4                  |25             |41                             |73 |77
	+---+-------------------+---------------+-------------------------------+---+
# end of snippet

# Variable declaration
snippet var
	    ${1:type}                ${2:name};           /* ${3:comment}                          */
# end of snippet


#=============================================================================
# Literals and Common Implementations
#=============================================================================

# main()
snippet main
	/*==========================================================================*/
	int main(                               /* program entry point              */
	    int                 argc,           /* number of arguments              */
	    const char**        argv            /* list of arguments                */
	) {                                     /* return program exist status      */
	
	    /*--------------------------------------------------------------------
	    Comment.
	    --------------------------------------------------------------------*/
	    ${1}
	
	    /*--------------------------------------------------------------------
	    Return to shell.
	    --------------------------------------------------------------------*/
	    return EXIT_SUCCESS;
	}
	
# end of snippet

# WinMain()
snippet winmain
	/*==========================================================================*/
	int WINAPI WinMain(                     /* program entry point              */
	    HINSTANCE           hInstance,      /* handle to program instance       */
	    HINSTANCE           hPrevInst,      /* handle to previous instance      */
	    LPTSTR              lpCmdLine,      /* pointer to command-line string   */
	    int                 nShowCmd        /* initial window display setting   */
	) {                                     /* return program exit status       */
	
	    /*--------------------------------------------------------------------
	    Display a message.
	    --------------------------------------------------------------------*/
	    MessageBoxW(
	        NULL,
	        L"Hello World!",
	        L"Greetings",
	        ( MB_OK | MB_ICONINFORMATION )
	    );
	
	    /*--------------------------------------------------------------------
	    Return to shell.
	    --------------------------------------------------------------------*/
	    return EXIT_SUCCESS;
	}
	
# end of snippet


#=============================================================================
# Miscellaneous Automation
#=============================================================================

# #include "..."
snippet inc
	#include "${1:`Filename("$1.hpp")`}"
# end of snippet


#=============================================================================
# Source Code Templates
#=============================================================================

# Source code template
snippet source
	/*****************************************************************************
	
	${1:`Filename()`}.cpp
	
	${2:description}
	
	*****************************************************************************/
	
	/*============================================================================
	Includes
	============================================================================*/
	
	/*============================================================================
	Macros
	============================================================================*/
	
	/*============================================================================
	Types and Structures
	============================================================================*/
	
	/*============================================================================
	Memory Constants
	============================================================================*/
	
	/*============================================================================
	Module Variables
	============================================================================*/
	
	/*============================================================================
	Module Prototypes
	============================================================================*/
	
	/*============================================================================
	Implementation
	============================================================================*/
	
	${3}
	
# end of snippet

# Header file template
snippet header
	/*****************************************************************************
	
	${1:`Filename()`}.hpp
	
	${2:description}
	
	*****************************************************************************/
	
	#ifndef _${3:`toupper(Filename())`}_HPP
	#define _$3_HPP
	
	/*============================================================================
	Includes
	============================================================================*/
	
	/*============================================================================
	Macros
	============================================================================*/
	
	/*============================================================================
	Types and Structures
	============================================================================*/
	
	/*============================================================================
	Memory Constants
	============================================================================*/
	
	/*============================================================================
	Interface
	============================================================================*/
	
	${4}
	
	#endif  /* _$3_HPP */
	
# end of snippet

