# Vimscript Code Snippets

# Separator Bars
snippet b0
	"=============================================================================
snippet b1
	    "=========================================================================
# End

# Blocky Comments
snippet c0
	"-----------------------------------------------------------------------------
	" ${1}
	"-----------------------------------------------------------------------------
snippet c1
	    "-------------------------------------------------------------------------
	    " ${1}
	    "-------------------------------------------------------------------------
snippet c2
	        "---------------------------------------------------------------------
	        " ${1}
	        "---------------------------------------------------------------------
snippet c3
	            "-----------------------------------------------------------------
	            " ${1}
	            "-----------------------------------------------------------------
snippet c4
	                "-------------------------------------------------------------
	                " ${1}
	                "-------------------------------------------------------------
snippet c5
	                    "---------------------------------------------------------
	                    " ${1}
	                    "---------------------------------------------------------
snippet c6
	                        "-----------------------------------------------------
	                        " ${1}
	                        "-----------------------------------------------------
# End

# Function Skeletons
snippet fun
	"=============================================================================
	" ${2:description}
	"=============================================================================
	function! ${1:name}()
	    ${3}
	endfunction
snippet funarg
	"=============================================================================
	" ${2:description}
	"=============================================================================
	function! ${1:name}( arg )
	    echom a:arg
	    ${3}
	endfunction
# End

# Basic Script Skeleton
snippet source
	"=============================================================================
	"
	" ${1:`Filename()`}.vim
	"
	" ${2:description}
	"
	"=============================================================================
	
	"-----------------------------------------------------------------------------
	" ${3}
	"-----------------------------------------------------------------------------
	
	${4}
	
# End

# Plugin Script Skeleton
snippet plugin
	"=============================================================================
	"
	" ${1:`Filename()`}.vim
	"
	" ${2:description}
	"
	"=============================================================================
	
	"-----------------------------------------------------------------------------
	" Plugin Boilerplate
	"-----------------------------------------------------------------------------
	
	if exists( 'g:loaded_$1' ) || &compatible
	    finish
	endif
	let g:loaded_$1 = 1
	
	"-----------------------------------------------------------------------------
	" Loading/Initialization Execution
	"-----------------------------------------------------------------------------
	
	${3}
	
	"-----------------------------------------------------------------------------
	" Functions
	"-----------------------------------------------------------------------------
	
	"=============================================================================
	" 
	"=============================================================================
	function! s:NormalCommand()
	    
	endfunction
	
	
	"=============================================================================
	" 
	"=============================================================================
	function! s:VisualCommand()
	    
	endfunction
	
	
	"=============================================================================
	" 
	"=============================================================================
	function! s:InsertCommand()
	    return '$1 content'
	endfunction
	
	
	"-----------------------------------------------------------------------------
	" Default Mappings
	"-----------------------------------------------------------------------------
	
	" safe, global mappings
	nnoremap <silent> <Plug>NormalCommand :<C-U>call <SID>NormalCommand()<CR>
	vnoremap <silent> <Plug>VisualCommand :<C-U>call <SID>VisualCommand()<CR>
	inoremap <silent> <Plug>InsertCommand <C-R>=<SID>InsertCommand()<CR>
	
	" check if the configuration allows riskier mappings
	if exists( 'g:$1_map_keys' ) && g:$1_map_keys != 0
	
	    " check for desired mapping prefix
	    if exists( 'g:$1_map_prefix' ) == 0
	         g:$1_map_prefix = '<Leader>'
	    endif
	
	    " assign shorter mappings with a configurable prefix
	    execute 'nnoremap' g:$1_map_prefix . 'n' '<Plug>NormalCommand'
	
	    " assign shorter mappings with a fixed prefix
	    nnoremap pn <Plug>NormalCommand
	
	endif
	
# End

